.cart-container {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  justify-content: center;
}
@media (max-width: 768px) {
  .no-cart {
    width: 200px;
  }
}
.cart-items-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: none;
  align-items: center;
  align-self: flex-start;
  margin-top: 20px;
}
.cart-remove {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.remove-all {
  border: none;
  font-family: roboto;
  color: white;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  background-color: blue;
  cursor: pointer;
  font-weight: 600;
  margin-right: 40px;
}
